<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leandrito</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    
</head>
<h1>Bienvenidos a la librería de Leandrito</h1>
<body>
    <h1>Todo lo que necesitas, en un solo lugar!</h1>
        <p1>Para que es el p1? que se rompio?</p1>
            <l1>Para que era el l1?</l1
            <u1>Para que era el u1?</u1>
            <u2>Para que era el u2?</u2>



    {% block contenido %}
    {% endblock contenido %}
</body>
</html>
