<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeandritoPython</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    
</head>
<main style='text-align:center'>
<h1>~~Bienvenidos a la librería de Leandrito~~</h1>
</main>
<body style='text-align:center'>
    <h1><button>Todo lo que necesitas, en un solo lugar!</button></h1> 
        <p1><button>Aprieta el boton y ve lo que sucede</button></p1>
        <p2><button>Dona con transferencia</button></p2>
            <l1><button>Autores</button></l1>
            <u1><button>Libros</button></u1>
            <u2><button>Editoriales</button></u2>


    <main>
<h1><button>Soporte y Devoluciones</button></h1>
    </main>





    <footer>
        <p1>Todos los derechos reservados - 2024</p1>
    <footer/>

    
</body>
</html>
