<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Editoriales</title>
</head>
<body>
    <h1>Editoriales</h1>
    <a href="{% url 'Editorial_list' %}">Crear Nueva Editorial</a>
    <ul>
        {% for editorial in object_list %}
            <li>{{ editorial.nombre }} - Libros: 
                {% for libro in editorial.libros.all %}
                    {{ libro.titulo }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
